body {
	overflow-x: hidden;
}
.nav-white a {
	color: black;
	font-weight: 500;
}
.container-fluid {
	padding: 0;
}
.main-gif {
	position: relative;
}
.gif-image img {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 300px;
}
.search-section {
	position: relative;
}
.search-div {
	position: absolute;
	top: 50vh;
	left: 30px;
	background-color: white;
	width: 670px;
	height: 70px;
	border-radius: 5px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}
.search-inner-div {
	padding: 20px;
	display: flex;
}
.search-inner-div input {
	padding: 5px;
	font-size: 18px;
	border: 0;
}
.search-inner-div i {
	font-size: 18px;
}
.search-breaker {
	border-right: 3px solid black;
	margin: 0 10px 0 0;
}
.search-button {
	margin-left: 15px;
	padding: 5px 10px 5px 10px !important;
	border-radius: 5px;
	background-color: #e7f6fd;
}
.little-space {
	padding-top: 2em;
}
.space {
	padding-top: 1em;
}
footer h5 {
	color: black
}
.footer-copyright span a {
	color: black;
	font-weight: 500;
}
.footer-copyright span {
	color: black;
	font-weight: 500;
}
.footer-copyright {
	background-color: #32c788 !important;
}
/*.style-1 {
	background-image: url('images/style-1.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.style-2 {
	background-image: url('images/style-2.png');
	background-repeat: no-repeat;
	background-position: left top;
}*/
.opts-heading a {
	color: black;
}
.form-header {
    padding: 1rem;
    margin-top: -3.13rem;
    margin-bottom: 3rem;
    color: 
#fff;
text-align: center;
border-radius: .125rem;
-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
box-shadow: 0 5px 11px 0
rgba(0,0,0,0.18),0 4px 15px 0
    rgba(0,0,0,0.15);
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 
rgba(0,0,0,0.18),0 4px 15px 0
    rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
}
.about-us-image img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}

/*///// header /////*/
.parent {
	position: relative;
}
.logo-child {
	position: absolute;
	left: 4vh;
	top: 15px;
}
.menu-child {
	position: absolute;
	right: 10vh;
	top: 15px;
}
.menu {
	line-height: 1;
	margin: 0 auto 3em;
}
.menu-child {
	/*display: none;*/
}
.menu-toggle {
	position: absolute;
	right: 5vh;
	top: 15px;
	display: block;
	z-index: 999
}
.menu-toggle i {
	color: white;
	font-size: 25px;
	margin: 0.5em 0;
	padding: 10px;
}
.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover {
	text-decoration: none;
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}
.menu--prospero .menu__link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #044088;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--prospero .menu__link:hover,
.menu--prospero .menu__link:focus {
	color: #044088;
}

.menu--prospero .menu__item--current .menu__link {
	color: #044088;
}
/*////// header ends //////*/
.slogan-heading {
	position: absolute;
	top: 30vh;
	left: 5vh;
	font-size: 45px;
}
.slogan-heading span {
	color: #044088
}
.front-space {
	padding-top: 70vh;
}
.alphabets {
	padding-left: 5vh;
}
.alphabets h1 {
	color: #044088;
	/*background-image: linear-gradient(120deg, #8fd3f4 0%, #67b023 100%);
  background-repeat: no-repeat;
  background-size: 20% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;*/
}
.alpha-list li {
	font-size: 25px;
	font-weight: 600;
	padding: 0 8px;
}
.alpha-big {
	font-size: 50px !important;
}
.alpha-mid {
	font-size: 35px !important;
}